label {
    color: #eee;
}

form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: auto;
    max-width: 600px;
}

.form {
    
}

form label {
    margin-bottom: .5rem;
    color: black;
}

form input, textarea {
    margin-bottom: 1rem;
    padding: 10px 18px;
    font-size: 1.2rem;
    font-family: 'Outfit', sans-sherif;
    background-image: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
    color:#0f0e0e
}

form .ext {
    color: black;
    border-color: black;
}