.wrapper {
    width: 100%;
    padding: 6rem 1rem;
}

.service-list .service {
    background-color: white;
    display: flex;
    align-items: center;
    border: 2px solid black;
    flex-direction: row;
    width: 100%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 5px;
    padding: 20px 20px;
}

.service-list .service:hover {
    transition: .3s ease;
    background-color: var(--itemHover);
    
}

.service-list .service:nth-child(odd) {
    flex-direction: row-reverse;
}

.service-list {
    max-width: 1140px;
    margin: auto;
    display: flex;
    flex-direction: column;
    grid-gap: 40px;
}



.wrapper .service .service-image img {
    height: 200px;

}


.service-list .service .service-article{ 
    padding: 20px;
}