#video {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#image {
    
    object-fit: contain;
}
.hero {
    height: 100vh;
    width: 100%;
    object-fit: contain;
    
}

.hero .content {
    text-align: center;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 40vh;
    
}

.hero .content .borderContent {
    border: solid 2px rgba(0, 0, 0, 0);

    padding: 30px;
}

.hero .content h1 {
    font-size: 4rem;
    color: rgb(255, 255, 255);
    margin-bottom: px;
}

.hero p {
    font-size: 1.8rem;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    color: rgb(255, 255, 255);
}